.body {
  position: absolute;
  width: 375px;
  height: 718px;
  background: #fff;
}

.container {
  display: flex;
  border: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.logo {
  position: static;
  width: 76px;
  height: 20px;
  left: 12px;
  top: 10px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.menu-icon {
  position: static;
  left: 20%;
  right: 20%;
  top: 20%;
  bottom: 20%;
  flex: none;
  order: 0;
  flex-grow: 0;
  align-self: center;
}

.heading {
  background-image: url(src/header-shapes-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline;
  display: flex;
  justify-content: left;
  flex-flow: column;
  min-height: 100vh;
  margin-block-end: 20rem;
  margin: auto;
}

.title {
  color: #172b4d;
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
  text-align: left;
  width: 60vw;
}

#info {
  color: #172b4d;
  display: block;
  font-size: 40px;
}

.paragraph {
  display: flex;
  width: 327px;
  height: 146px;
  left: 24px;
  top: 276px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

ul {
  list-style-type: none;
}

.line {
  position: static;
  width: 117px;
  height: 24px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px;
}

.social-media-icons {
  position: static;
  width: 170.17px;
  height: 20px;
  left: 24px;
  top: 470px;
  color: #505f79;
  align-content: space-around;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.twitter {
  position: absolute;
  left: 6.4%;
  right: 88.27%;
  top: 77.81%;
  bottom: 18.88%;
}

.linkedin {
  position: absolute;
  left: 18.74%;
  right: 77.87%;
  top: 77.87%;
  bottom: 18.87%;
}

.msign {
  position: absolute;
  left: 27.47%;
  right: 67.2%;
  top: 78.15%;
  bottom: 19.21%;
}

.github {
  position: absolute;
  left: 38.13%;
  right: 57.07%;
  top: 77.81%;
  bottom: 18.87%;
}

.finger {
  position: absolute;
  left: 48%;
  right: 48.22%;
  top: 77.81%;
  bottom: 18.87%;
}
